<div class="container mt-4">

    <div class="row mx-auto">

        <div class="col">

            <p style="text-align: center;">Filtrar por nombre:</p><br>

            <input #inputnombre type="text" class="form-control" placeholder="Introduce el nombre de la asignatura">

        </div>

        <div class="col">

            <p style="text-align: center;">Filtrar por ciclo:</p><br>

            <input #inputciclo type="text" class="form-control" placeholder="Selecciona un ciclo">

        </div>

        <div class="col">

            <p style="text-align: center;">Filtrar por conocimiento:</p><br>

            <input #inputconocimiento type="text" class="form-control" placeholder="Selecciona un conocimiento">

        </div>

        <div class="container">

            <div class="d-grid gap-2">

                <br><button type="button" class="btn btn-primary" (click)="filtroAsignaturas(inputnombre.value, inputciclo.value, inputconocimiento.value)">Filtrar</button>

            </div>

        </div>

    </div>

    <div>

        <br><h2>Los resultados de la búsqueda son:</h2>

        <div class="alert alert-primary" role="alert">

            El número de asignaturas que cumplen el filtro es de: {{lonFiltro}}

        </div>

    </div>

    <div class="row">

        <div class="col m-2" *ngFor="let item of resultado">

            <div class="card" style="width: 18rem;">

                <div class="card-body">

                  <h5 class="card-title">{{item.nombre}}</h5><br>
                  <p class="card-text">Profesor: {{item.profesor}}</p>
                  <p class="card-text">Ciclo: {{item.ciclo}}</p>
                  <p class="card-text">Curso: {{item.curso}}</p>

                  <img class="m-2" style="width: 40px;" *ngFor="let img_conocimientos of item.conocimientos" [src]="img_conocimientos.imagen">

                </div>

              </div>

        </div>

    </div>

</div>
